<h1>Create a New Blog</h1>
<div class="field">
<%= form_for [@cv, @blog] do |f| %>
<br>
  <%= f.label :title %><br />
  <%= f.text_field :title %>
  <br>
  <%= f.label :description %><br />
  <%= f.text_field :description %>
  <br><br>
  <p><%= f.submit %></p>
<% end %>
</div>
